body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.errorText {
    background: rgb(232,65,65);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

span.errorText {
    display: inline-block;
}

.infoText {
    background: rgb(65,187,232);
    border-radius: 5px;
    padding: 5px;
}

span.infoText {
    display: inline-block;
}

.navBar {
    position: relative;
    height: 40px;
    color: #410081;
    background-color: #C0C0C0;
    border-style: none none solid;
    border-color: #410081
}

.navElement {
    position: relative;
    bottom: 14px;
    height: inherit;
    font-family: "Veranda";
    font-size:130%;
    color: inherit;
    background-color: inherit;
    border-style: solid;
    border-color: #410081;
    display: inline;
}

/* Dropdown button on hover & focus */
.navElement:hover, .navElement:focus {
    background-color: #D0D0D0;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    height: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    top: 28px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content:hover {
    color: inherit;
    cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: "Veranda";
    font-size:130%;
    color: inherit;
    background-color: inherit;
    display: block;
}

/* buttons in the dropdown */
.dropdown-content button {
    font-family: "Veranda";
    font-size:130%;
    color: inherit;
    background-color: inherit;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
