<template>
    <require from="../components/elements/game-view"></require>
    <require from="../util/converters/parse-int"></require>

    <h1>Zeek Online</h1>
	<h2 class="titleBar">Create</h2>
    <div class="editorMain">
        <span class="errorText" if.bind="error">${error}</span>
        <div class="centered">
            <input type="text" name="name" value.bind="name" class="titleInput" placeholder="Title">
            <input type="number" name="width" value.bind="width | parseInt"> x <input type="number" name="height" value.bind="height | parseInt">
        </div>
        <game-view board.bind="tileMap"
                width.bind="width"
                height.bind="height"
                clicktile.delegate="handleClick($event)"
                view-model.ref="view"
                style="border: 1px solid black; display: table;"></game-view><br>
        <label>Tags (comma separated): <input type="text" name="tags" value.bind="tags"></label><br>
        <button type="button" click.delegate="create()" name="create">Create</button>
    </div>
    <div class="editorPalette">
        <div class="paletteItem" repeat.for="tuple of pieces" with.bind="tuple">
            <label>
                <input type="radio" name="tileType" value.bind="key", checked.bind="tileType">
                <img if.bind="type.sprite" src.bind="'sprites/' + type.sprite" alt.bind="type.pieceName">
                ${type.pieceName}
            </label>
            <div class="paletteItemDescription" if.bind="type.description && tileType === key">
                ${type.description}
            </div>
        </div>
    </div>
</template>
