<template>
    <h1>Zeek Online</h1>
    <h2>Create Account</h2>
    <span class="errorText" if.bind="error">${error}</span>
    <form submit.delegate="send()">
        Login Name must be unique, Display Name can be anything.<br>
        <label>Login Name: <input type="text" name="loginName" value.bind="loginName"></label><br>
        <label>Password: <input type="password" name="password" value.bind="password"></label><br>
        <label>Confirm Password: <input type="password" name="passwordConfirm" value.bind="passwordConfirm"></label><br>
        <label>Display Name: <input type="text" name="displayName" value.bind="displayName"></label><br>
        <button type="submit">Submit</button>
    </form>
</template>
